.n-wrapper{
    height: 10vh;
    display: flex;
    justify-content:space-between;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.552);
    top: 0;
    z-index: 1000;
}

.n-left{
    flex:1;
    align-items:center;
    display:flex;
    gap:2rem;
}

.n-name{
    font-size: 2.2rem;
    font-weight: bold;
}

.n-right{
    display:flex;
    flex:1;
    align-items:center;
    justify-items:center;
    font-weight:400;
    margin-left: 900px;
}

.n-list{
    flex:10;
}

.n-list>ul{
    display:flex;
    gap:4rem;
    margin-right:4rem;
    cursor:pointer;
    list-style: none;
}

.n-list>ul a{
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
}

.n-list>ul >li:hover{
    cursor:pointer;
}

.n-button{
    width: 200px;
    height: 40px;
    border-radius: 20px;
    background:  linear-gradient(180deg, #ce7eff 26.71%, #b42ffb 99.36%);
    border: none;
    box-shadow: 0 20px 24px 3px rgba(184, 40, 251, 0.42);
    color: aliceblue;
    font-size: 1.3rem;
}